<div>
  <div>
    <h2>
      Upload your information to customize your videos
    </h2>

    <%# </form> %>
    <form action="/confirmation" method="post" class="form-horizontal" enctype="multipart/form-data">

      <div>
        <label for="first_name_id_box">
          First Name
        </label>

        <input type="text" id="first_name_id_box" name="query_first_name_id">
      </div>

      <div>
        <label for="last_name_id_box">
          Last Name
        </label>

        <input type="text" id="last_name_id_box" name="query_last_name_id">
      </div>

      <div>
        <label for="tagline_box">
          Services
        </label>

        <textarea id="tagline_box" name="tagline" rows="3"></textarea>
      </div>

    <%# </form> %>

    <%# <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data"> %>

      <div>
        <label for="customization_image">
          Image
        </label>

        <input type="file" id="customization_image" name="customization_image" class="form-control" type="hidden">
      </div>
      
      <div>
        <label for="phone">
          Phone Number
        </label>

        <input type="integer" id="phone" name="query_phone">
      </div>

      <button>
        Continue
      </button>
    </form>
  </div>
</div>

<hr>
<div>Your information will appear like this on your videos:</div>
<img src="https://static.wixstatic.com/media/6495f7_962a65f7f2de4055ae000845c7244040~mv2_d_2548_1430_s_2.png/v1/fill/w_964,h_1430,al_t,q_90,enc_auto/6495f7_962a65f7f2de4055ae000845c7244040~mv2_d_2548_1430_s_2.png">
